body
{
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    background-color: #001e3b3f;
    color: black;
    margin: 30px 0;
    padding: 0;
}

#cabecera 
{
    background: #001e3b;
    box-shadow: 0px 2px 50px 0px black;
    color: honeydew;
    font-weight: bold;
    margin: 0;
    padding: 0.8em;
    display: flex;
    align-items: baseline;
    border-radius: 9px;
}

#cabecera #logo
{
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

#cabecera h2
{
    font-size: 30px;
    margin: 0;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.9em;
}

#container
{
    width: 70%;
    padding: 0;
    background-color: #EEEEEE;
    text-align: left;
    border: 1px solid  #001e3b;
    border-radius: 10px;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#post
{
    padding: 1em;
}

footer
{
    text-align: center;
    font-weight: 600;
    background-color: #001e3b;
    color: white;
    padding: 1px;
    border-radius: 9px;
}